.curriculumsPageContainer h1{
    background-color: #FFCB00;
    line-height: 3em;
	padding-left: 2em;
	width: 30%;
	clip-path: polygon(0 0, 75% 0%, 78% 49%, 75% 100%, 0% 100%);
}

.curriculumList{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.curriculumList h3{
    margin: 1em auto 1em auto;
    color: #FFCB00;
    font-size: 2em;
}

.curriculumRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.curriculumList a{
    width: 30%;
    margin: 1em auto;
}

a[class="commonLink"]:link, a[class="commonLink"]:visited, a[class="commonLink"]:active{
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    color: #1C1E27;
    border: 5px solid #1C1E27;
}

a[class="commonLink"]:hover{
    background-color: #FFCB00;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

.curriculumsPageContainer table{
    margin-top: 4em;
}

.curriculumsPageContainer table th{
    background-color: #f274058a;
}

a[class="tableLink"]:link,  
a[class="tableLink"]:active{
    text-decoration: none;
    color: #1C1E27;
    font-weight: bold;
    display: block;
    padding: 0.5em 0 0.5em 0;
}

a[class="tableLink"]:visited{
    color: #1C1E27;
} 

a[class="tableLink"]:hover{
    color: #FFCB00;
}