.pageContainer {
    background-color: rgba(255, 165, 149, 0.082);
}

.topContainer {
    height: 22em;
    margin-bottom: 1em;
}

.topContainer .title {
    max-height: 10em;
}

.disciplinesAllContainer .title {
    width: 40%;
}

.disciplinesAllContainer h1 {
    margin-left: 2em;
    line-height: 3em;
}

.topContainer {
    display: flex;
    flex-direction: row;
    background-color: peachpuff;
    justify-content: space-evenly;
    padding: 2em 0;
}

#searchDiv {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.field-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.field-container {
    width: 30%; /* Adjusted to 48% to allow for some spacing between elements */
    box-sizing: border-box;
    padding: 0 1em;
    box-sizing: border-box;
}

.field-container label {
    display: block;
    margin-bottom: 0.5em;
}

.field-container select,
.field-container input[type="text"] {
    width: 100%;
    line-height: 2em;
    padding: 0.6em 1.4em 0.5em 0.8em;
    margin: 0;
    border: 1px solid #aaa;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13.5-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%;
    background-size: 0.65em auto;
}

#searchDiv input[type="submit"] {
    width: 33%;
    margin: 1em 13.3em 1em 10em;
}

#noResults {
    width: 37%;
    margin: 0 auto;
}

#buttonDiv {
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px; /* Added border-radius for a more squared appearance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box-shadow for a subtle elevation effect */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px; /* Increased font size for the close button */
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.discipline-rectangle {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    position: relative;
}


.discipline-container {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute children vertically */
    height: 100%; /* Make the container fill its parent's height */
}

/* Styles for the enroll button container */
.enroll-button-container {
    width: 100%; /* Make the container fill the width */
}

/* Styles for the enroll button */
.enroll-button {
    flex: 1; /* Make the button fill the height */
    padding: 12px 16px; /* Adjust the padding for a larger size */
    font-size: 16px; /* Adjust the font size for a larger size */
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Styles for the disabled enroll button */
.enroll-button-disabled {
    padding: 12px 20px; /* Adjust padding as needed */
    background-color: #ccc;
    color: #555;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    font-size: 16px; /* Adjust font size as needed */
}

.enroll-button:hover {
    background-color: #45a049; /* Change the background color on hover */
}

.enroll-button:disabled {
    background-color: #ccc; /* Change the background color for disabled state */
    cursor: not-allowed; /* Change the cursor for disabled state */
}