html, body {
    /*Not working for some reason*/
     font-weight: 400;
     font-family: 'Jost';
     margin: 0;
     padding: 0;
 }
 body{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
 }

 .pageContainer{
     /*So that navbar doesn't hide page content*/
     margin-top: 5em;
     height: 100%;
 }

.nav{
    background-color: #1C1E27;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    color: white;
    font-size: 1.5em;
    z-index: 2;
    position: fixed;
}


.nav-link{
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    line-height: 2.3;
}
.nav-link:first-child{
    padding-left: -1em;
}

a:hover.nav-link, a:active.nav-link {
    color: #1C1E27;
    background-color: white;
}

.right{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;   
}

#fmi-logo{
    height: 100%;
    padding-left: 1em;
}


#home-link{
    width: 12%;
}

#home-link:hover{
    background-color: #ffcc00;

}
