body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Add a black background color to the top navigation */
.navbar {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: rgb(85, 141, 61);
    color: white;
}

.navbar .logout {
    float: right;
}